# Based on https://github.com/rtfd/readthedocs.org/blob/3.4.0/requirements/local-docs-build.txt
Sphinx==1.8.5
sphinxcontrib-httpdomain==1.7.0
commonmark==0.8.1
recommonmark==0.5.0
jinja2==3.0.0
# Overwritten with requirements.txt
# sphinx_rtd_theme
-r requirements.txt
