{% extends "!layout.html" %}
{% block extrahead %}
{{ super() }}
<script src="./_static/js/redoc.2.0.0-rc.23.min.js" />
{% endblock %}
{% block extrabody %}
{{ super() }}
    <div class="logo-ctn">
        <a href="/">
            <img src="./_static/images/pp-logo_white.svg" height="20px"/>
            <span class="logo-txt">Developers portal</span>
        </a>
        <div class="search-form">
            <form id="rtd-search-form-2" class="wy-form" action="../search.html" method="get" _lpchecked="1">
                <div class="search-input">
                    <input type="text" name="q" placeholder="Search" autocomplete="off">
                </div>
                <input type="hidden" name="check_keywords" value="yes">
                <input type="hidden" name="area" value="default">
            </form>
        </div>
    </div>
{% endblock %}
{% block footer %}
{{ super() }}
<script>
    let menuBar = document.querySelectorAll('nav.wy-nav-side .wy-menu.wy-menu-vertical > ul > li > a');
    let content = document.querySelector('.wy-grid-for-nav');
    if(menuBar) {
        let newMenu = document.createElement('div');
        newMenu.className = 'topbar-menu';
        menuBar.forEach(value => newMenu.appendChild(value))
        content.parentElement.insertBefore(newMenu, content)
    }
    let menuArray = [
        'custom_reports',
        'analytics',
        'tracker',
        'audience_manager',
        'consent_manager',
        'tag_manager',
        'platform',
        'integrations',
    ];
    let linkIndex = menuArray.indexOf(window.location.pathname.split('/')[3]);
    let activeMenu = document.querySelectorAll('.topbar-menu a')[linkIndex];
    if(activeMenu) {
        activeMenu.classList.add('active', 'current');
    }
    let breadCrumbs = document.querySelector('.wy-breadcrumbs');
    if(breadCrumbs) {
        breadCrumbs.innerHTML = breadCrumbs.innerHTML.replaceAll(' »', '<span class="bread-crumb-el">→</span>');
    }
</script>
<!-- Start Piwik PRO Tag Manager code --><script type="text/javascript">
(function(window, document, script, dataLayer, id) {
function stgCreateCookie(a,b,c){var d="";if(c){var e=new Date;e.setTime(e.getTime()+24*c*60*60*1e3),d="; expires="+e.toUTCString()}document.cookie=a+"="+b+d+"; path=/"}var isStgDebug=(window.location.href.match("stg_debug")||window.document.cookie.match("stg_debug"))&&!window.location.href.match("stg_disable_debug");stgCreateCookie("stg_debug",isStgDebug?1:"",isStgDebug?365:-1);
window[dataLayer]=window[dataLayer]||[],window[dataLayer].push({start:(new Date).getTime(),event:"stg.start"});var scripts=document.getElementsByTagName(script)[0],tags=document.createElement(script),dl="dataLayer"!=dataLayer?"?dataLayer="+dataLayer:"";tags.async=!0,tags.src="//marketing.piwik.pro/containers/614aaf9a-9571-4f76-8d57-1a7434940bd8.js"+dl,isStgDebug&&(tags.src=tags.src+"?stg_debug"),scripts.parentNode.insertBefore(tags,scripts);
})(window, document, 'script', 'dataLayer', '614aaf9a-9571-4f76-8d57-1a7434940bd8');
</script><noscript><iframe src="//marketing.piwik.pro/containers/614aaf9a-9571-4f76-8d57-1a7434940bd8/noscript.html" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript><!-- End Piwik PRO Tag Manager code -->
{% endblock %}
