{% extends "!layout.html" %}

{% block footer %}
{{ super() }}
<!-- Start Piwik PRO Tag Manager code --><script type="text/javascript">
if(window.location.hostname === 'developers.piwik.pro') {
    (function(window, document, script, dataLayer, id) {
        function stgCreateCookie(a,b,c){var d="";if(c){var e=new Date;e.setTime(e.getTime()+24*c*60*60*1e3),d="; expires="+e.toUTCString()}document.cookie=a+"="+b+d+"; path=/"}var isStgDebug=(window.location.href.match("stg_debug")||window.document.cookie.match("stg_debug"))&&!window.location.href.match("stg_disable_debug");stgCreateCookie("stg_debug",isStgDebug?1:"",isStgDebug?365:-1);
        window[dataLayer]=window[dataLayer]||[],window[dataLayer].push({start:(new Date).getTime(),event:"stg.start"});var scripts=document.getElementsByTagName(script)[0],tags=document.createElement(script),dl="dataLayer"!=dataLayer?"?dataLayer="+dataLayer:"";tags.async=!0,tags.src="//marketing.piwik.pro/containers/614aaf9a-9571-4f76-8d57-1a7434940bd8.js"+dl,isStgDebug&&(tags.src=tags.src+"?stg_debug"),scripts.parentNode.insertBefore(tags,scripts);
    })(window, document, 'script', 'dataLayer', '614aaf9a-9571-4f76-8d57-1a7434940bd8');
}
</script><noscript><iframe src="//marketing.piwik.pro/containers/614aaf9a-9571-4f76-8d57-1a7434940bd8/noscript.html" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript><!-- End Piwik PRO Tag Manager code -->
{% endblock %}
