.wy-side-nav-search {
	background-color: #dd1144;
}

dl.post, dl.patch, dl.delete, dl.get, dl.put {
	display: none
}

[sticky-sidebar][_ngcontent-vyl-1], .menu-content {
	max-height: calc(100% - 200px) !important;
}

.wy-nav-content{
	max-width: initial;
}