@font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 100;
    src: url("../font/Inter-Thin.ttf") format("truetype");
}

@font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 200;
    src: url("../font/Inter-ExtraLight.ttf") format("truetype");
}

@font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 300;
    src: url("../font/Inter-Light.ttf") format("truetype");
}

@font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 400;
    src: url("../font/Inter-Regular.ttf") format("truetype");
}

@font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 500;
    src: url("../font/Inter-Medium.ttf") format("truetype");
}

@font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 600;
    src: url("../font/Inter-SemiBold.ttf") format("truetype");
}

@font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 700;
    src: url("../font/Inter-Bold.ttf") format("truetype");
}

@font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 800;
    src: url("../font/Inter-ExtraBold.ttf") format("truetype");
}

@font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 900;
    src: url("../font/Inter-Black.ttf") format("truetype");
}

h1 {
    font-family: "Inter";
    font-weight: 800;
    font-size: 36px;
}

.rst-content .toctree-wrapper p.caption, body, h2, h3, h4, h5, h6, legend {
    font-family: "Inter" !important;
    font-weight: 300;
}

h2 {
    font-size: 22px;
    font-weight: 800;
}

h3 {
    font-size: 18px;
    font-weight: 800;
}

h4 {
    font-size: 16px;
    font-weight: 800;
}

h5 {
    font-size: 14px;
    font-weight: 800;
}

h6 {
    font-size: 14px;
    font-weight: 800;
}

p {
    font-size: 14px;
}

.wy-plain-list-disc, .rst-content .section ul, .rst-content .toctree-wrapper ul, article ul, .wy-plain-list-decimal, .rst-content .section ol, .rst-content ol.arabic, article ol {
    font-size: 14px;
}

.deprecated .versionmodified {
    font-size: 14px !important;
}

.rst-content dl:not(.docutils) dt {
    border-top: none;
    border-left: solid 3px #6ab0de;
}

.rst-versions {
    border-top: none;
}

div .rst-other-versions a, div .rst-other-versions a:hover, div .rst-other-versions a:visited {
    color: #006bd6 !important;
}

.wy-side-nav-search {
    background-color: #F2F4F8;
}

.wy-side-nav-search input[type="text"] {
    border-radius: 4px;
}

.wy-side-nav-search .version {
    display: none
}

.wy-menu-vertical a {
    color: #ebf2fa;
}

.wy-nav-side {
    background-color: #F2F4F8;
    width: 280px;
}

.wy-menu-vertical a:hover {
    background-color: #D5D9E0;
}

.wy-menu-vertical li.current a:hover {
    background-color: #D5D9E0;
}

dl.post, dl.patch, dl.delete, dl.get, dl.put {
    display: none
}

.wy-nav-content {
    max-width: initial;
}

.wy-nav-content a {
    color: #006bd6;
}

.wy-nav-content a:hover, .wy-nav-content a:visited {
    color: #006bd6;
}

a.icon.icon-home {
    display: none;
}

.redoc-wrap {
    background-color: #ffffff;
}

redoc .background {
    background-color: #FFFFFF;
}

.deprecated .versionmodified {
    font-size: 18px;
    font-weight: bold;
}

input.search-input {
    padding: 5px 10px 5px 20px !important;
}

.redoc-wrap .search-icon {
    left: 25px !important;
}

.redoc-wrap {
    margin-bottom: 20px;
}

.menu-content {
    height: 600px !important;
}

.api-content {
    overflow: visible !important;
    contain: inherit !important;
}

ul.react-tabs__tab-list {
    display: none;
}

.injected dl:nth-child(2) {
    display: none !important;
}


#redoc-container table {
	table-layout: fixed;
}

#redoc-container td {
    overflow-wrap: break-word;
    white-space: normal !important;
}

#redoc-container .param-name {
    overflow-wrap: break-word;
    white-space: normal !important;
}

body {
    overflow-x: initial !important;
}

#redoc-container .redoc-json code {
    border: none !important;
    background: none !important;
}

#redoc-container .redoc-json .token.punctuation {
    color: white !important;
}

#redoc-container .redoc-json .collapser {
    color: white !important;
}

#redoc-container .api-info h1, #redoc-container [data-section-id^="tag"] h1 {
    font-size: 22px;
    font-weight: 800;
    color: #0C0F12 !important;
}

#redoc-container [data-section-id^="tag"] h2, #redoc-container [data-section-id^="tag"] h4 {
    font-size: 20px;
    font-weight: 800;
    color: #0C0F12 !important;
    margin-bottom: 8px;
}

#redoc-container [data-section-id^="tag"] p {
    margin-bottom: 16px;
}

#redoc-container [data-section-id^="tag"] .sc-jlyJG.evvbxn p {
    margin-bottom: 0;
}

#redoc-container [data-section-id^="tag"] {
    padding: 0 !important;
}

#redoc-container .dluJDj {
    padding: 0 0 20px 0;
}

#redoc-container .cjtbAK {
    padding: 0 20px 0 0;
}

#redoc-container [data-section-id*="/paths/"] + [data-section-id*="/paths/"] {
    padding-top: 20px !important;
}

#redoc-container [data-section-id*="/paths/"] + [data-section-id^="tag"] {
    padding-top: 20px !important;
}

#redoc-container [data-section-id*="/paths/"] {
    padding-bottom: 20px !important;
}

#redoc-container h5 {
    box-sizing: border-box;
    border: 1px solid #D5D9E0;
    background-color: #FFFFFF;
    padding: 16px;
}

#redoc-container .dtUibw, #redoc-container .fLUKgj {
    background: #373D42;
}

#redoc-container span[type="post"], #redoc-container span[type="get"], #redoc-container span[type="patch"], #redoc-container span[type="delete"] {
    border-radius: 1px;
    font-weight: bold;
}

#redoc-container span[type="post"] {
    background-color: #0D95FD;
}

#redoc-container span[type="get"] {
    background-color: #66BB6A;
}

#redoc-container span[type="patch"] {
    background-color: #FFA400;
}

#redoc-container span[type="delete"] {
    background-color: #F44336;
}

#redoc-container .dpMbau {
    position: initial;
    padding-bottom: 12px;
}

#redoc-container .react-tabs__tab-panel > div {
    padding: 16px;
}

#redoc-container .sc-EHOje.sc-bZQynM.dtUibw {
    padding: 0 16px;
}

#redoc-container .sc-brqgnP.fCJmC {
    opacity: 1;
}

#redoc-container .sc-EHOje.sc-bZQynM.dtUibw h3{
    color: #FFFFFF;
    font-family: Inter;
    font-size: 18px;
    font-weight: 800;
    margin: 16px 0;
}

#redoc-container .hiuczA:not(:last-of-type)::after {
    width: 59%;
}

thead  {
    background-color: #D5D9E0;
    box-shadow: inset 0 -1px 0 0 #B9BFC7, inset -1px 0 0 0 #B9BFC7;
}

.row-even, .row-even {
    box-shadow: inset 0 -1px 0 0 #D5D9E0, inset 1px 0 0 0 #D5D9E0, inset -1px 0 0 0 #D5D9E0;
}

.row-even td{
    background-color: #FFFFFF;
}

.row-odd td{
    background-color: #F2F4F8;
}

.admonition.note {
    background-color: #E2F2FD;
    border-top: 2px solid #006BD6;
    border-bottom: 2px solid #006BD6;
}

.admonition.warning {
    background-color: #FFFBEB;
    border-top: 2px solid #ED8E00;
    border-bottom: 2px solid #ED8E00;
}

.note .first.admonition-title {
    background-color: #006BD6 !important;
}

.warning .first.admonition-title {
    background-color: #ED8E00 !important;
}

.last {
    top: -4px;
    position: relative;
}

.first.admonition-title {
    display: inline-block;
    top: -14px;
    position: relative;
    font-size: 12px;
    font-weight: 800;
    margin-bottom: -5px !important;
}

.first.admonition-title:before {
    display: none;
}

.rst-content tt.literal, .rst-content tt.literal, .rst-content code.literal{
    color: #D2302F;
    border: 1px solid #D5D9E0;
    border-radius: 2px;
    background-color: #F2F4F8;
}

.rst-content dl:not(.docutils) dt{
    border: 1px solid #0D95FD;
    border-left: 4px solid #0D95FD;
    background-color: #FFFFFF;
}

.rst-content dl:not(.docutils) dl dt {
    border: 1px solid #D5D9E0;
    border-left: 4px solid #D5D9E0;
    background-color: #FFFFFF;
}

.codeblock, pre.literal-block, .rst-content .literal-block, .rst-content pre.literal-block, div[class^='highlight'] {
    border: 1px solid #14171A;
}
.wy-nav-content-wrap .unicorn-found {
    background: #FFD000;
    text-align: center;
    padding: 8px;
    font-size: 12px;
    box-shadow: inset 0 1px 0 0 #ccc, inset 0 -1px 0 0 #ccc;
}

/*Here are css from FA, highlights that are not available now*/

.hll {
    background-color: #ffc;
    margin: 0 -12px;
    padding: 0 12px;
    display: block
}

.c {
    color: #998;
    font-style: italic
}

.err {
    color: #a61717;
    background-color: #e3d2d2
}

.k {
    font-weight: bold
}

.o {
    font-weight: bold
}

.cm {
    color: #998;
    font-style: italic
}

.cp {
    color: #999;
    font-weight: bold
}

.c1 {
    color: #998;
    font-style: italic
}

.cs {
    color: #999;
    font-weight: bold;
    font-style: italic
}

.gd {
    color: #000;
    background-color: #fdd
}

.gd .x {
    color: #000;
    background-color: #FFA1D8
}

.ge {
    font-style: italic
}

.gr {
    color: #E47373
}

.gh {
    color: #999
}

.gi {
    color: #000;
    background-color: #dfd
}

.gi .x {
    color: #000;
    background-color: #afa
}

.go {
    color: #888
}

.gp {
    color: #555
}

.gs {
    font-weight: bold
}

.gu {
    color: #B990EF;
    font-weight: bold
}

.gt {
    color: #E47373
}

.kc {
    font-weight: bold
}

.kd {
    font-weight: bold
}

.kn {
    font-weight: bold
}

.kp {
    font-weight: bold
}

.kr {
    font-weight: bold
}

.kt {
    color: #B990EF;
    font-weight: bold
}

.m {
    color: #80C783
}

.s {
    color: #E47373
}

.n {
    color: #F2F4F8
}

.na {
    color: #8DE2E2
}

.nb {
    color: #7BEFFF
}

.nc {
    color: #B990EF;
    font-weight: bold
}

.no {
    color: #8DE2E2
}

.ni {
    color: #B990EF
}

.ne {
    color: #E47373;
    font-weight: bold
}

.nf {
    color: #E47373;
    font-weight: bold
}

.nn {
    color: #555
}

.nt {
    color: #56B3FA
}

.nv {
    color: #8DE2E2
}

.ow {
    font-weight: bold
}

.w {
    color: #bbb
}

.mf {
    color: #80C783
}

.mh {
    color: #80C783
}

.mi {
    color: #80C783
}

.mo {
    color: #80C783
}

.sb {
    color: #E47373
}

.sc {
    color: #E47373
}

.sd {
    color: #E47373
}

.s2 {
    color: #E47373
}

.se {
    color: #E47373
}

.sh {
    color: #E47373
}

.si {
    color: #E47373
}

.sx {
    color: #E47373
}

.sr {
    color: #009926
}

.s1 {
    color: #E47373
}

.ss {
    color: #990073
}

.bp {
    color: #999
}

.vc {
    color: #8DE2E2
}

.vg {
    color: #8DE2E2
}

.vi {
    color: #8DE2E2
}

.il {
    color: #80C783
}

.gc {
    color: #999;
    background-color: #EAF2F5
}

#developer-docs-and-guides .toctree-wrapper.compound {
    display: none;
}

.main-subheader{
    color: #404040;
    font-family: "Inter";
    font-size: 24px;
    font-weight: bold;
    letter-spacing: -0.11px;
    line-height: 29px;
    padding-bottom: 24px;
}

.started-block-text {
    color: #0C0F12;
    font-family: "Inter";
    font-weight: 800;
    font-size: 18px;
    padding: 16px;
}

.started-block {
    box-sizing: border-box;
    border: 1px solid #DDDDDD;
    border-radius: 1px;
    background-color: #FFFFFF;
    box-shadow: inset 0 0 0 0 #DDDDDD;
    text-align: left;
    flex: 1 1 0;
    width: 0;
    min-width: 200px;
    cursor: pointer;
}

.started-blocks-ctn {
    display: flex;
    flex: 1 1 0;
    flex-wrap:wrap;
    gap: 24px;
    padding-bottom: 24px;
}

.started-block:first-child {
    margin-left: 0;
}

.started-block:last-child {
    margin-right: 0;
}

.popular-links-ctn {
    display: flex;
    flex: 1 1 0;
    flex-wrap:wrap;
    gap: 24px;
}

.popular-links-el {
    padding: 24px;
    box-sizing: border-box;
    border: 1px solid #DDDDDD;
    border-radius: 1px;
    background-color: #FFFFFF;
    box-shadow: inset 0 0 0 0 #DDDDDD;
    flex: 1 1 0;
    min-width: calc(max(50%, 200px) - 24px);
}

.popular-links-el:nth-child(1) {
    order: 1;
}

.popular-links-el:nth-child(2) {
    order: 2;
}

.popular-links-el.subdued {
    background-color: #FAFAFA;
    border-top: none;
    margin-top: -24px;
    order: 3;
    padding: 24px;
    box-sizing: border-box;
    border-radius: 1px;
    box-shadow: inset 0 0 0 0 #DDDDDD;
    flex: 1 1 0;
    min-width: calc(max(50%, 200px) - 25px);
}

.popular-links-el-filler {
    margin-top: 24px;
    min-width: calc(max(50%, 200px) - 12px);
    padding: 24px;
    flex: 1 1 0;
    order: 4;
    box-sizing: border-box;
}

.popular-links-header {
    color: #131313;
    font-family: "Inter";
    font-size: 18px;
    font-weight: bold;
    letter-spacing: -0.14px;
    line-height: 21px;
    padding-bottom: 16px;
}

a.link {
    display: block;
    font-size: 14px;
    padding-bottom: 14px;
}

a.link-large {
    font-size: 18px;
    padding-bottom: 16px;
}

.popular-links-el a.link:last-child {
    padding-bottom: 0;
}

@media (max-width:825px) and (min-width:795px) {
    .popular-links-el.subdued {
        min-width: calc(max(50%, 200px) - 24px);
    }
    .popular-links-el-filler {
        min-width: calc(max(50%, 200px) - 25px);
    }
}

@media (max-width:465px) and (min-width:443px) {
    .popular-links-el.subdued {
        min-width: calc(max(50%, 200px) - 24px);
    }
    .popular-links-el-filler {
        min-width: calc(max(50%, 200px) - 25px);
    }
}


@media (max-width:794px) and (min-width:769px) {
    .popular-links-el:nth-child(2) {
        order: 3;
    }
    .popular-links-el.subdued {
        order: 2;
        min-width: calc(max(50%, 200px) - 24px);
    }
}

@media (max-width:442px){
    .popular-links-el:nth-child(2) {
        order: 3;
    }
    .popular-links-el.subdued {
        order: 2;
        min-width: calc(max(50%, 200px) - 24px);
    }
}

.topbar-menu {
    border-bottom: 1px solid #B9BFC7;
    background-color: #F2F4F8;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.2);
}

.topbar-menu a {
    display: inline-block;
    padding: 12px 0 12px 0;
    color: #0C0F12;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 18px;
    margin-left: 24px;
}

.topbar-menu a.current {
    border-bottom: 3px solid #006bd6;
}

.wy-nav-side {
    top: 117px;
}

div[role="navigation"] hr {
    margin: 0 -22px 24px -22px;
}

.wy-nav-content {
    padding: 0 22px 0 22px;
}

.wy-side-nav-search {
    width: 280px;
}

.wy-menu-vertical {
    width: 280px;
}

.wy-nav-content-wrap {
    margin-left: 280px;
}

.wy-breadcrumbs {
    font-family: "Inter";
    padding-top: 14px;
    padding-bottom: 13px;
    font-size: 14px;
    font-weight: 500;
}

.bread-crumb-el {
    font-weight: bold;
}

.logo-ctn {
    font-family: "Inter";
    padding: 24px;
    background-color: #000000;
    box-shadow: inset 0 1px 0 0 #333333;
    position: relative;
}

.search-form {
    position: absolute;
    right: 24px;
    top: 16px;
    display: inline-block;
}

.search-form .search-input {
    height: 40px;
    width: 264px;
    box-sizing: border-box;
    border: 1px solid #50565B;
    border-radius: 1px;
    background-color: #242A2E;
    box-shadow: inset 0 2px 1px 0 #22272B;
}

.search-input input{
    height: 40px;
    width: 264px;
    color: #B9BFC7;
    box-shadow: none;
    border: none;
    background: transparent url(../images/search.svg) no-repeat 13px 13px !important;
    text-indent: 36px;
}

.search-input input:focus{
    background: transparent url(../images/search.svg) no-repeat 13px 13px !important;
}

.wy-menu-vertical li.current a {
    margin: 6px 12px 0 12px !important;
    border: none;
    color: #0C0F12;
    font-family: "Inter";
    font-size: 14px;
    letter-spacing: 0;
}

.logo-txt {
    color: #FFFFFF;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 24px;
    padding-left: 16px;
    vertical-align: text-top;
}

.wy-side-scroll {
    border: 1px solid #D5D9E0;
    width: 280px;
    overflow-y: auto;
}

.wy-menu-vertical li.current {
    background: none;
}

.wy-side-nav-search {
    display: none;
}

.wy-side-nav-search input[type="text"] {
    border-radius: 0;
    border-color: #D5D9E0;
}

html {
    overflow: hidden;
}

.wy-grid-for-nav {
    overflow: auto;
    height: calc(100% - 118px);
}

div[role="main"] {
    min-height: calc(100vh - 340px);
}

footer {
    font-family: "Inter";
    padding-bottom: 38px;
}

#redoc-container .menu-content {
    display: none;
}

#redoc-container .api-content {
    width: 100%;
}

#redoc-container .sc-iuJeZd.fLUKgj {
    width: 40%;
}

#redoc-container .api-info > p {
    box-sizing: border-box;
    border: 1px solid #D5D9E0;
    background-color: #F2F4F8;
    padding: 8px 16px 8px 16px;
    display: inline-block;
}

#redoc-container .api-info > p a {
    box-sizing: border-box;
    border: 1px solid #B9BFC7;
    border-radius: 1px;
    background-color: #FFFFFF;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.2);
    color: #0C0F12;
    font-weight: bold;
}

#redoc-container .kGwPhO {
    border-bottom: 1px solid #D5D9E0;
}

.sc-bwCtUz {
    display: none;
}

.current .sc-bwCtUz.cLEtWf {
    display: none !important;
}

.current .sc-bwCtUz.ghctpd {
    display: initial !important;
}

.current .sc-bwCtUz.ghctpd[role='navigation'] {
    padding-left: 8px;
}

.wy-menu-vertical li.toctree-l1.current li.toctree-l2>ul, .wy-menu-vertical li.toctree-l2.current li.toctree-l3>ul {
    display: none !important;
}

.wy-menu-vertical li.toctree-l1.current li.toctree-l2.current>ul, .wy-menu-vertical li.toctree-l2.current li.toctree-l3.current>ul {
    display: block !important;
}

.sc-bwCtUz label:hover {
    background-color: #D5D9E0;
    color: black;
}

.sc-bwCtUz label.active {
    font-weight: initial;
    background-color: #D5D9E0;
    color: black;
}

#glossary {
    max-width: 1200px;
    margin: auto;
}

#developer-docs-and-guides {
    max-width: 1200px;
    margin: auto;
}

#developer-docs-and-guides em{
    font-style: normal;
}

.rst-content dl dd {
    margin: 0 0 12px 0;
}

.wy-menu-vertical li a {
    padding: 4px !important;
}

.wy-menu-vertical li.toctree-l2>a {
    font-weight: 700;
}

.wy-menu-vertical li.toctree-l3>a {
    font-weight: 300;
}

.wy-menu-vertical li.toctree-l4>a {
    font-weight: 300;
}

.wy-menu-vertical li.toctree-l2.current>a{
    background-color: #D5D9E0 !important;
}

.wy-menu-vertical li.toctree-l3.current>a {
    background-color: #D5D9E0 !important;
}

.wy-menu-vertical li.toctree-l4.current>a {
    background-color: #D5D9E0 !important;
}

.wy-menu-vertical li.toctree-l2.current li.toctree-l3>a {
    background: none;
}

.wy-menu-vertical li.toctree-l3.current li.toctree-l4>a {
    background: none;
}

.sc-bwCtUz.ghctpd li:first-child {
    margin-top: 8px;
}

.sc-bwCtUz.ghctpd li:last-child {
    margin-bottom: 8px;
}

.sc-hrWEMg.bbViyS[data-item-id*="/paths/"] {
    margin-left: 20px;
    border-left: 1px solid #D5D9E0;
    padding: 6px 12px 6px 12px;
}

.sc-hrWEMg.bbViyS label[type="section"] {
    margin-bottom: 8px;
}

.sc-hrWEMg.bbViyS[data-item-id^="operation/"] {
    margin-left: 20px;
    border-left: 1px solid #D5D9E0;
    padding: 4px 12px 4px 12px;
}

.sc-hrWEMg.bbViyS[data-item-id*="/paths/"] label, .sc-hrWEMg.bbViyS[data-item-id^="operation/"] label {
    padding: 4px;
    margin-right: 0;
    margin-left: 0;
    font-family: "Inter";
    font-size: 14px;
}

.sc-hrWEMg.bbViyS label {
    padding: 4px;
    margin-right: 12px;
    margin-left: 12px;
    font-family: "Inter";
    font-size: 14px;
}

.sc-iQKALj.cFwMcp.operation-type.get {
    background-color: #66BB6A;
}

.sc-iQKALj.cFwMcp.operation-type.post {
    background-color: #0D95FD;
}

.sc-iQKALj.cFwMcp.operation-type.patch {
    background-color: #FFA400;
}

.sc-iQKALj.cFwMcp.operation-type.delete {
    background-color: #F44336;
}

.sc-iQKALj.cFwMcp.operation-type {
    color: #FFFFFF;
    border-radius: 1px;
    font-family: "Inter";
    font-size: 8px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 14px;
}

.rst-footer-buttons {
    display: none;
}

.wy-menu-vertical li span.toctree-expand {
    float: right;
    width: 21px;
    transform: rotateZ(-90deg);
    display: inline-block;
    top: -4px;
    position: relative;
    transition: transform 0.2s ease-out 0s;
}

.wy-menu-vertical li.current > a > span.toctree-expand {
    transform: rotateZ(0deg);
    top: -2px;
}

.wy-menu-vertical li span.toctree-expand:before {
    width: 21px !important;
    content:url("data:image/svg+xml,<svg version='1.1' viewBox='0 0 24 24' x='0' xmlns='http://www.w3.org/2000/svg' y='0'> <polygon points='17.3 8.3 12 13.6 6.7 8.3 5.3 9.7 12 16.4 18.7 9.7'></polygon> </svg>") !important;
    transition: transform 0.2s ease-out 0s;
}

.toctree-l4 {
    padding-left: 8px;
}

.deprecated {
    background: #FFECEE;
    border-top: 2px solid #D32F2F;
    border-bottom: 2px solid #D32F2F;
    margin-bottom: 16px;
}

.deprecated .versionmodified {
    padding-right: 8px;
}

.deprecated p {
    padding: 16px 16px;
    margin: 0;
}

.rst-versions {
    width: 280px;
}

.rst-current-version {
    border-bottom: 1px solid #B9BFC7;
    background-color: #F2F4F8;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.2);
    width: 276px;
}

.rst-other-versions {
    width: 276px;
}

.rst-current-version span.fa.fa-book, .fa.fa-caret-down {
    color: #0C0F12 !important;
}

.rst-other-versions, .rst-current-version, .rst-versions {
    background: #F2F4F8 !important;
    color: #0C0F12 !important;
}

.rst-versions {
    border: 1px solid #B9BFC7;
}

.rst-versions a, .rst-current-version a, .rst-other-versions a {
    color: #006bd6 !important;
}

.rst-versions .injected dl:nth-child(3), .rst-versions .injected dl:nth-child(4), .rst-versions .injected dl:nth-child(5) {
    display: none;
}

.codeblock div[class^='highlight'], pre.literal-block div[class^='highlight'], .rst-content .literal-block div[class^='highlight'], div[class^='highlight'] div[class^='highlight'], .admonition div[class^='highlight'] {
    background: #242A2E !important;
}

div[class^='highlight'] pre {
    color: #F2F4F8;
}

body {
    color: #0C0F12;
}

.wy-menu.wy-menu-vertical code{
    white-space: break-spaces;
}

.wy-nav-top{
    display: none;
}

@media (max-width:973px) {
    .wy-nav-side {
        top: 159px;
    }
}

.mobile-menu-select {
    border: 1px solid #B9BFC7;
    border-radius: 1px;
    background-color: #F2F4F8;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.2);
    cursor: pointer;
    width: calc(100% - 16px);
    margin: 8px;
    font-size: 1rem;
    line-height: 1.5;
    font-family: "Inter";
    font-weight: 400;
    font-style: normal;
    appearance: none;
    -webkit-appearance: none;
}

.mobile-menu-ctn {
    border-bottom: 1px solid #D5D9E0;
    display: none;
}

.mobile-menu-ctn:after {
    width: 21px !important;
    display: inline-block;
    float: right;
    content:url("data:image/svg+xml,<svg version='1.1' viewBox='0 0 24 24' x='0' xmlns='http://www.w3.org/2000/svg' y='0'> <polygon points='17.3 8.3 12 13.6 6.7 8.3 5.3 9.7 12 16.4 18.7 9.7'></polygon> </svg>") !important;
    top: -40px;
    right: 16px;
    position: relative;
}

.hamburger {
    background: url("../images/menu.svg");
    width: 24px;
    height: 24px;
    margin-right: 16px;
    position: relative;
    top: 6px;
    cursor: pointer;
    display: none;
}

.hamburger.close {
    background: url("../images/close.svg");
}

#search-results .context {
    color: #0C0F12;
}

.toctree-l3.current a .toctree-expand:nth-child(2) {
    display: none;
}

.toctree-l2.current a .toctree-expand:nth-child(2) {
    display: none;
}

.wy-menu-vertical li.toctree-l2 {
    padding-left: 8px !important;
}

.wy-menu-vertical li.toctree-l3 {
    padding-left: 8px !important;
}

.iNoDtm .sc-jTzLTM polygon {
    fill: black;
}

.sc-jTzLTM.gBhLRG {
    height: 20px;
    width: 20px;
}

.sphinx-tab {
    border: none !important;
}

.sphinx-tabs .ui {
    border: none !important;
}

.sphinx-tabs .ui.top {
    min-height: 0 !important;
    font-family: "Inter" !important;
}

.sphinx-tabs .ui.top .item {
    height: 32px !important;
    padding: 8px 12px !important;
    color: #006bd6 !important;
}

.sphinx-tabs .ui.top .active.item {
    color: #0C0F12 !important;
    background: #EAECF1;
    font-weight: normal;
}

.sphinx-tabs .ui.top .item:hover {
    background: #EAECF1;
    font-weight: normal;
}

.sphinx-tabs .ui.bottom {
    background: none !important;
    padding: 8px 0;
}

.sphinx-tabs .sphinx-menu a.active.item {
    border: none !important;
}

.sphinx-tabs .sphinx-menu {
    gap: 4px;
}

.wy-table-responsive table{
    width: 100%;
}

.bStedS path {
    fill: #006AD6 !important;
}

.sc-htpNat.dwJFae {
    color: #006AD6 !important;
    font-family: Inter !important;
}

@media screen and (max-width: 768px) {
    .wy-nav-content-wrap {
        margin-left: 0;
    }
    .wy-nav-content-wrap .wy-nav-content {
        padding: 0 22px 0 22px;
    }

    #rtd-search-form-2 {
        display: none;
    }

    .topbar-menu {
        display: none;
    }

    .wy-side-nav-search {
        display: block;
        width: 100%;
        padding: 8px;
        margin: 0;
        border-bottom: 1px solid #D5D9E0;
    }

    .hamburger {
        display: inline-block;
    }

    .mobile-enforce {
        left: 0;
        top: 80px;
        width: 100%;
        display: initial !important;
    }

    .mobile-enforce .wy-side-scroll {
        width: 100%;
    }

    .mobile-menu-ctn {
        display: inline-block;
        width: 100%;
        height: 60px;
    }

    .rst-versions.show-on-mobile {
        display: initial;
        width: 100%;
    }

    .rst-current-version, .rst-other-versions {
        width: 100%;
    }

}

@media screen and (max-width: 400px) {
    .logo-txt {
        display: none;
    }

}

body {
    display: initial;
}

.rst-current-version {
    text-align: left !important;
}

.rst-current-version  .fa.fa-caret-down{
        padding-left: 4px;
}

.rst-current-version .fa.fa-book {
    display: none;
}

.sc-eHgmQL.irpqyy  .react-tabs__tab-list{
    display: block;
}